<div>
	<p>Hello </p>
	<br>
	<br>
	<p>
		You are signing up Huh!
		<br>
		Here is the OTP for your signup
		<br>
		<strong>
			<h2>
				<%= otp.otp %>
			</h2>
		</strong>
		<br>
		<br>
		<p>Shhhh!, keep this a secret!</p>
		<p>Don't disclose this OTP with anyone</p>
	</p>
</div>